<%- include('includes/header.ejs') %>
    <%- include('includes/nav.ejs') %>

        <div class="content container main">
            
            <div class="row">

                

                <div class="objone col-md-6   col-sm-12">
                    <!-- <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=2a41a653-2299-489a-ace5-c89364c5336b&obj=80235795-6fa6-436d-839f-416bfee6470f&opt=ctxmenu" style="border:none;width:100%;height:100%;"></iframe> -->
                      
                </div>

              

            </div>
        </div>
 


<%- include('includes/footer.ejs') %>









