<div class="container">
<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>

    <div class="main">
        <iframe src="https://qliksenseserver.exponentia.ai/sense/app/269c77a6-0a31-4bc7-8560-0767bc7c2033/sheet/9e4a3f2a-8b9f-4a5e-87cb-0a27ba5d3b68/state/analysis" frameborder="0" style="height: 85%; width:100%"></iframe>
    </div> 

<%- include('includes/footer.ejs') %>
</div>