<%- include('includes/header.ejs') %>
    <%- include('includes/nav.ejs') %>

        <div class="container">
            <iframe src="https://exponentia-ai-cloud.ap.qlikcloud.com/single/?appid=d67b0fb1-7158-4ea6-9ba2-d41eda614364&sheet=33310a71-30ba-4822-9ad5-80c7a8edf5ed&theme=breeze&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
            
            <!-- <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=2bd7e443-3d60-4e08-8576-aace33dde4a8&sheet=8bd96ba2-d5b4-4899-9d6f-b9342e50a9ab&opt=ctxmenu,currsel"  style="border:none;width:100%;height:500px; margin-top:100px"></iframe> -->
            <!-- <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&sheet=9e4a3f2a-8b9f-4a5e-87cb-0a27ba5d3b68&opt=ctxmenu,currsel" style="border:none;width:100%;height:500px; margin-top:100px"></iframe> -->
            
        </div>
 


<%- include('includes/footer.ejs') %>









