<%- include('includes/header.ejs') %>
    <%- include('includes/nav.ejs') %>

        <div class="content container main">
            
            <div class="row">

                

                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                      
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                         
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                      
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                        
                    </button>
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                        
                    
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                     
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                      
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                    
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                     
                </div>
                <div class="objone col-md-6   col-sm-12">
                    <iframe src="https://qliksenseserver.exponentia.ai/single/?appid=269c77a6-0a31-4bc7-8560-0767bc7c2033&obj=zbynKQG&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                      
                </div>

              

            </div>
        </div>
 


<%- include('includes/footer.ejs') %>









